<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Portfolio of Courtney Landau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body>
<!--     
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="#about">LANDAU</a></div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#top">ABOUT</a></li>
                        <li><a href="#portfolio">PORTFOLIO</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                        </ul>
                        </div>
                        </nav> -->
    <div class = 'container'>
        <h2>Portfolio</h2>
        <h3> </h3>
        <ol class='projects'>

        </ol>

    </div>
    <div class="footer">
        <p style="text-align:left;">Created by Courtney Landau
            <span style="float:right;">2018</span>
            </p>
    </div>
</body>
</html>